/* Adding styles for the portfolio template */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #fff;
    
    color: black;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    position: sticky;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    margin-right: 4rem;
}

#header-name {
    margin-left: 2rem;
    font-size: large;
    font-weight: 200;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

#about { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    height: 100vh;
}

section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}

.form-container { 
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.contact-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width:100vw;
}

.project-container {
    display: flex;
}

.project-card {
    display:flex;
    flex-direction:column;
}