/* Adding styles for the portfolio template */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
}

header {
    background: #fff;
    color: black;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    position: sticky;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    margin-right: 4rem;
}

#header-name {
    margin-left: 2rem;
    font-size: large;
    font-weight: 200;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

#about { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    height: 90vh;
    line-height: 1.1;

}


#about h2{
    font-size:4rem;
    line-height:1.1;
    margin:0;
}
#about h3{
    font-size:3rem;
    line-height:1.5;
    margin:0;
}
#about h4{
    font-size:2rem;
    line-height:1.5;
    font-weight:100;
    color: gray;
    margin:0;
}

section {
    padding: 2rem;
    margin: 1rem auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}

.form-container { 
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.contact-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width:100vw;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.project-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;

}

.project-card {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border: solid 2px gray;
    border-radius: 2rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    width: 20rem;
    height: 10rem;
    padding: 8rem;
}

.project-picture {
    width: 20rem;
}

.stack-icon {
    height: 2.5rem;
    width: 3rem;
}

.tech-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border: 2px solid lightgray;
    border-radius: 1rem;
    padding: 1rem;
    gap:3rem;

}